body{
    margin: 0;
    background-image: url("../images/image2.jpeg");
    background-size: 100% 100%;
}
.container{
    height: 100%;
}
.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.topnav a.active{
    background-color: #4CAF50;
    color: white;
}
div.titulo{
    font-size: 5vw;
    text-align: center;
    position: relative;
}

div.first{
    border: 2px solid blue;
    width: 38%;
    text-align: center;
    display: inline-block;
    background-color: powderblue;
}
div.secund1{
    width: 38%;
    display: inline-block;
    border: 2px solid blue;
    background-color: #dddddd;
    text-align: center;
    min-width:40vw;
    float:right;
}
